.btn-custom {

	margin: 15px;
}

.jumbopanel {
	width: 50%;
	
	padding: 10px;
	margin: 10px;


}

.jumbotron h2, h3, p {
	margin: 10px;
}

.border{
	border: 2px dotted black;
	height: 400px;
	width: 400px;
}

#addActivitiesButton{
	text-align: center;
	margin-left: 40px;
	margin-top: 10px;
}

.button{
	background-color: gray;
}

#addActivity{
	border: 1px solid black;
	width: 250px;
	padding: 10px;
}

#saveButton{
	float: right;
}

#addActivityTitle{
	text-align: center;
}
.daysinfo{
	border: 1px solid black;
	width: 30%;
	/*padding: 10px;*/
	margin: 5px;
	height: 30%;
}

.activity{
	border: 1px solid black;
	width: 60%;
	/*padding: 10px;*/
	margin: 5px;
	height: 30%;
}

.days {

border: 1px solid black;
/*margin: 20px;*/
width: 75%;
height: 600px;
margin: 5px;



}

#deleteButton{
	float: right;
}


/*.activity{

width: 100%;
height: 50px;
margin: 10px;
border: 1px solid black;

}*/


/* DATE PICKER*/
/*.full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
}
.partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
}*/