<div class="row">
    <ng-include src="'partials/navbar.html'" ng-controller="NavbarCtrl"></ng-include>
</div>

<div id="about">
    <div class="container">
        <div class="col-md-12">
            <h1>What is Agenda?</h1>
            <br>
            <p>Agenda is a platform to create and plan your meetings in the easiest possible way. You can add an activity of one of the four types-Coffee Break, Group work, Discussion and Presentation and also set the duration of each activity. You can create a meeting plan and then move your activities to the plan. You can see how you manage your time from the activity color bar. In addition, there is weather forecast information provided on the certain day and time.

            <p>This is a project work for the course Interaction Programming and the Dynamic Web (DH2642)

            <p><b>Team members:</b> Frida Engslätt, Kaur Kask, Pruek Laochaiyapruek, Saman Ali
        </div>

        <div class="col-md-12">
            <div id="sticky1"> 
                <p>Create Activities</p>
                <div id="sticky1div">  
                </div>
            </div>
          
            <div id="sticky2">
                <p>Plan your schedule</p>
                <div id="sticky2div">
                </div>
            </div>

            <div id="sticky3">
                <p>Great Visualization</p>
                <div id="sticky3div">
                </div>   
            </div>

            <div id="sticky4">
                <p>Drag an Drop</p>
                <div id="sticky4div">
                </div> 
            </div>
        </div>
    </div>
</div>