<div class="row">
    <ng-include src="'partials/navbar.html'" ng-controller="NavbarCtrl"></ng-include>
</div>

<div class="container normpage">
    <div class="row">
        <div class="col-md-12">
            <h1 class="whitetxt">What is Agenda?</h1>
            <br>
            <p>Agenda is a platform to create and plan meetings in the easiest possible way. Users can add an activity of one of the four types-Coffee Break, Group work, Discussion and Presentation and set the duration of each activity. Users can create a meeting plan and then move the activities to the plan by drag and drop. Users can see how they manage their time from the activity color bar. In addition, Agenda has implemented weather forecast information on the certain day and time.
            <br>
            <br>
            <b class="whitetxt">Related technologies:</b>
            <p>Firebase: <a href="https://www.firebase.com">https://www.firebase.com</a>
            <p>AngularJS: <a href="https://angularjs.org">https://angularjs.org</a>
            <p>Angular Drag &amp; Drop: <a href="http://marceljuenemann.github.io/angular-drag-and-drop-lists/demo/#/nested">http://marceljuenemann.github.io/angular-drag-and-drop-lists/demo/#/nested</a>
            <p>Bootstrap: <a href="https://angular-ui.github.io/bootstrap/">https://angular-ui.github.io/bootstrap/</a>, <a href="http://getbootstrap.com">http://getbootstrap.com</a>
            <p>OpenWeatherMap: <a href="http://openweathermap.org">http://openweathermap.org</a> 
            <p>Bower: <a href="http://bower.io">http://bower.io</a>
            <br>
            <br>
            <p>This is a project work for the course Interaction Programming and the Dynamic Web (DH2642)
            <p><b class="whitetxt">Team members:</b> Frida Engslätt, Kaur Kask, Pruek Laochaiyapruek, Saman Ali
        </div>
    </div>
</div>