<div id="about">
<head>
<title>Page Title</title>
</head>
<body>

<h1>What is Meeting agenda builder?</h1>
<h6>It is a platform to create and plan your meetings in the easiest possible way.<br>
   You can add an activity of one of the four types Coffee Break, Group work,<br> 
   Discussion and Presentation and also set the duration of each activity. You<br>
   can add days and then move your activities to any day.See the how many<br> activities
    you have through or activity color bar.It is a project work for the <br>
    course Interaction Programming and the Dynamic Web (DH2642)</h6>
    
    <ul id="sticky">
  <li id="stickypad">
    <q >
      <h2>Create Activity</h2>
      <p>Add activity and its description</p>
    </q>
  </li>
  <li>
    <b>
      <h2>Set Type</h2>
      <p>There are four types that youcan choose</p>
    </b>
  </li>
 <li>
    <c>
      <h2>Add to Day</h2>
      <p>Create a day and drop your activities in it!</p>
    </c>
  </li>
   <li>
    <d>
      <h2>Visualization</h2>
      <p>See time division of your activities by checking the color bar!</p>
    </d>
  </li>
</ul>


</body>
</div>