
<div class="row">

    <ng-include src="'partials/navbar.html'" ng-controller="NavbarCtrl"></ng-include>

</div>

<div class="container">
    <div class="col-sm-12 activitiesArea">

        <div class="row">
         

            <div class="col-sm-2 activityParking shadow">
                <button type="button" class="btn btn-info btn-sm btn-ADD" ng-click="openAddActivity()">Add Activity</button>



                    <ul class="draggable-objects"> 
                        <li ng-repeat="(key, value) in activities" class="row"> 
                            <div class="col-sm-4 activity" id="{{value.name}}" ng-drag="true" ng-drag-data="obj" data-allow-transform="true">
                            <div class="panel-group panel panel-default">
                                <div ng-init="tag='collapse'" class="panel-heading ">
                                <h4 class="panel-title"> 
                                <div class="col-sm-6 activityHeading">
                                {{value.name}} 
                                </div>
                                <div class="col-sm-6 activityHeading">
                                {{value.length}} min
                                </div>

                                <div class="row ">

                                    <div class="col-sm-6">
                               
                                <button class="glyphicon glyphicon-chevron-down" data-toggle="collapse" href="#{{key + tag}}">
                                  </button>

                                </div>

                                  <div class="col-sm-6">
                                 
                                  <button id="" ng-click="deleteAct(key)" class="btn btn-alert btn-group-sm glyphicon glyphicon-remove pull-right"> </button>
                                  <button  type="button" class="btn btn-info btn-sm btn-ADD" ng-click="AddToDayTest(key)">Add to day TEST</button>

                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-sm-12  {{value.type}} TypeTag">
                                    </div>
                                </div>

                            
                                </h4>
                                </div>
                        <div id="{{key + tag}}" class="panel-collapse collapse">

                                <div class="panel-body">{{value.description}}</div>
                        </div>    

                                
                               
                                
                                </div>
                            </div>
                            
                        </li>
                    </ul>
            </div>

                 <div class="col-sm-8"> 
                    <ng-include src="'partials/overview.html'" ng-controller="OverviewCtrl"></ng-include>

                </div>
            </div>
            </div>




            <!-- Modal -->
            <script type="text/ng-template" id="activityModal.html">
               
                <div class="modal-header">
                    <button class="close" type="button" ng-click="cancel()">&times;</button>
                    <h4 class="modal-title">Add Activity</h4>
                </div>

                <div class="modal-body">
                    <p>Name <input type="text" ng-model="name" id="name" placeholder="Name your event.."> </p>
                    <p>Length <input type="number" ng-model="length" id="length" min="0"> min</p>
                    <p>Type 
                        <select class="form-control" ng-model="type">
                        <option value="Coffee">Coffee break</option>
                        <option value="Group">Group work</option>
                        <option selected="selected" value="Presentation">Presentation</option>
                        <option value="Discussion">Discussion</option></select>
                    </p>
                    <p>Descpription <input ng-model="description" type="text">
                        <pre>{{ data | json }}</pre>
                    </p>
                </div>

                <div class="modal-footer">
                  <button class="btn btn-success" type="button" ng-click="addAct()">Save</button>
                  <button class="btn btn-warning" type="button" ng-click="cancel()">Close</button>
                </div>
                    
            </script>
            <!-- END Modal -->


</div>
