<div class="row">
    <div class="col-lg-2" id="addActivity">
        <h4 id="addActivityTitle">ADD NEW ACTIVITY</h4>
        <p>Name <input type="text" ng-value="name" id="name"> </p>
        <p>Length <input type="text" ng-value="length" id="length"> min</p>
        <p>Type 
        <select><option value="coffeeBreak">Coffee break</option>
        <option value="Group work">Group work</option>
        <option value="Presentation">Presentation</option>
        <option value="Discussion">Discussion</option></select></p>
        <p>Descpription <input type="text"></p>
        <button id="cancelButton" class="btn btn-default">Cancel</button>
        <button id="saveButton" class="btn btn-default">Save</button>
    </div>
</div>