
<html>
<body>

<div class="row">

    <ng-include src="'partials/navbar.html'" ng-controller="NavbarCtrl"></ng-include>

</div>

<div id="cont"><h1>Contact Us</h1><br><br>
</div>
<div id="textcontact">If you have a query, please write your name, problem and email us.<br>Thankyou,<br><br>Agenda Builder Team.</div>
<form  id="contactform"action="MAILTO:someone@example.com" method="post" enctype="text/plain">

Name:<br>
<input type="text" name="name" value="your name"><br>
E-mail:<br>
<input type="text" name="mail" value="your email"><br>
Comment:<br>
<input type="text" name="comment" value="your comment" size="50"><br><br>
<input type="submit" value="Send">
<input type="reset" value="Reset">
</form>

</body>
</html>
