<div class="jumbotron">

		<div class="panel panel-default jumbopanel">

			<h2> Plan your meeting </h2> 
			<h3 class="slogan"> No fuss. </h3>
			<hr> 
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
						quis .</p>

			<a href="#activities" class="btn btn-group btn-group-md  center-block pull-right" role="group">
							<type="button" class="btn btn-default btn-custom"> Start planning now </a>  



			<a href="#activities" class="btn btn-group btn-group-md  center-block pull-right" role="group">
							<type="button" class="btn btn-default btn-custom"> Log In </a>  



			<a href="#activities" class="btn btn-group btn-group-md  center-block pull-right" role="group">
							<type="button" class="btn btn-default btn-custom"> Sign Up </a>  

		</div>

	</div>