
	

	<div class="col-sm-12 landing">
		
      
     <div class="container"> 
     <div class="row">

      	<div id="LandingText">

			<h1> Agenda </h1>  
			<h4> The best way to plan and control your meetings. </h4>
			<hr> 
			<!-- <p>Plan your meetings without any fuss!
						</p> -->
	   </div>
	  </div>

	  <div class="container">

	  <div class="row login">

	  	<div class="col-sm-4">
	  	</div>

	<div class="col-sm-4 login">
 

          <a href="#activities"<button type="button" class="btn btn-primary btn-lg loginbutton hvr-outline-out ">Log in</button> </a>  

           <a href="#activities"<button type="button" class="btn btn-primary btn-lg loginbutton hvr-outline-out  ">Sign up</button> </a>   

         </div> 

      


         <div class="col-sm-4">
	  	</div>

      </div>  

  </div>

    
 </div>

 
 
</div>



			
			


	     