<div class="col-sm-12 landing">
	<div class="container"> 
        <div class="row">
            <div id="LandingText">
      			<h1>Agenda</h1>  
      			<h4>The best way to plan and control your meetings. </h4>
        		<a type="text" href="#home?scrollTo=secondiv">Learn more about Agenda</a>
            </div>
            <hr> 
    	</div>

    	<div class="container">
            <div class="row login">

    	  	    <div class="col-sm-4">
    	  	    </div>
                <div class="col-sm-4 login">
              
                    <div class="input-group input-group-sm">
                        <input ng-model="email" type="text" class="form-control" placeholder="E-mail" aria-describedby="sizing-addon3">
                        <span class="input-group-addon" id="sizing-addon3"></span>
                    </div>

                    <div class="input-group input-group-sm">
                        <input ng-model="pw" type="text" class="form-control" placeholder="Password" aria-describedby="sizing-addon3">
                        <span class="input-group-addon" id="sizing-addon3"></span>
                    </div>
                    
                    <a ng-click="login()" href="#activities"<button type="button" class="btn btn-primary btn-lg loginbutton hvr-outline-out ">Log in</button> </a>  

                    <a ng-click="createUser()" href="#activities"<button type="button" class="btn btn-primary btn-lg loginbutton hvr-outline-out  ">Sign up</button> </a>   

                    <a href="#activities"<button type="button" class="btn btn-primary btn-lg loginbutton hvr-outline-out ">Start here</button> </a>  
                </div> 
            </div>
        </div>  
    </div> 
</div>  


<div class="col-sm-12 secondlanding" id="secondiv">	
    <div class="container normpage">  
        <div class="row"> 
            <div class="col-md-12">
                <h1 class="whitetxt">What is Agenda?</h1>
                <br>
                <p>Agenda is a platform to create and plan meetings in the easiest possible way. Users can add an activity of one of the four types-Coffee Break, Group work, Discussion and Presentation and set the duration of each activity. Users can create a meeting plan and then move the activities to the plan by drag and drop. Users can see how they manage their time from the activity color bar. In addition, Agenda has implemented weather forecast information on the certain day and time.
                <br>
                <br>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="thumbnail">
                    <img src="/images/image1.jpg">
                    <div class="caption">
                        <!-- <h3>Thumbnail label</h3> -->
                        <p class="whitetxt">Overall information provided including how time is distributed.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="thumbnail">
                    <img src="/images/image2.jpg">
                    <div class="caption">
                        <!-- <h3>Thumbnail label</h3> -->
                        <p class="whitetxt">Easily choose a date by picking from the calendar interface.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="thumbnail">
                    <img src="/images/image3.jpg">
                    <div class="caption">
                        <!-- <h3>Thumbnail label</h3> -->
                        <p class="whitetxt">Arrange your activities and meetings by drag-and-drop.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <hr>
                <p>This is a project work for the course Interaction Programming and the Dynamic Web (DH2642)
                <p><b class="whitetxt">Team members:</b> Frida Engslätt, Kaur Kask, Pruek Laochaiyapruek, Saman Ali
            </div>
        </div>
    </div> 
</div>
