<!-- <div class="row">

<div class="col-lg-4" id="overview">
 <h4 id="overviewTitle">DAY OVERVIEW</h4>
    <div class="col-lg-2" id="overviewDay1">
        <p> <time ></time></p>
        <p>Start Time: <input type="text"> </p>
         <p>End Time :<input type="text"> </p>
          <p>Total Time: <output></output> </p>
        <button id="deleteButton" class="button">Delete Day</button>
        
</div>

</div>

</div> -->


<div class="row">

  <div class="col-sm-4 daysinfo">
         
    <!-- <div class="col-sm-6 days">


    </div> -->

    <div class="col-sm-6 daysinfo">
         <p> <time ></time></p>
          <p>Start Time: <input type="text"> </p>
           <p>End Time :<input type="text"> </p>
            <p>Total Time: <output></output> </p>
          <button id="deleteButton" class="button">Delete Day</button>

    </div>
          
  </div>

</div>

<!-- <div class="row">

  <div class="col-sm-4 days">
         <p> <time ></time></p>
          <p>Start Time: <input type="text"> </p>
           <p>End Time :<input type="text"> </p>
            <p>Total Time: <output></output> </p>
          <button id="deleteButton" class="button">Delete Day</button>
          
  </div>

</div>

<div class="row">

  <div class="col-sm-4 days">
         <p> <time ></time></p>
          <p>Start Time: <input type="text"> </p>
           <p>End Time :<input type="text"> </p>
            <p>Total Time: <output></output> </p>
          <button id="deleteButton" class="button">Delete Day</button>
          
  </div>

</div>
 -->












