<!-- <div class="row">

<div class="col-lg-4" id="overview">
 <h4 id="overviewTitle">DAY OVERVIEW</h4>
    <div class="col-lg-2" id="overviewDay1">
        <p> <time ></time></p>
        <p>Start Time: <input type="text"> </p>
         <p>End Time :<input type="text"> </p>
          <p>Total Time: <output></output> </p>
        <button id="deleteButton" class="button">Delete Day</button>
        
</div>

</div>

</div> -->



<!-- <ng-include src="../_calendar/calendar.html" ng-controller="overviewCtrl"></ng-include> -->

<!-- <ng-include src="../_calendar/calendar.html" ng-controller="CalendarCtrl"></ng-include> -->

<!-- <div class="col-sm-4">

  <div class="form-group">
    <label for="usr">Name:</label>
    <input type="text" class="form-control" id="usr">  
  </div>
   
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd">
    </div>


</div> -->
  

  <!-- Modal -->
  <script type="text/ng-template" id="overviewModal.html">
   
    <div class="modal-header">
      <button class="close" type="button" ng-click="cancel()">&times;</button>
      <h4 class="modal-title">Add Day</h4>
    </div>

    <div class="modal-body">
      <ng-include src="'partials/calendar.html'" ng-controller="CalendarCtrl"></ng-include>
      <ng-include src="'partials/timepicker.html'" ng-controller="TimepickerCtrl"></ng-include>
    </div>

    <div class="modal-footer">
      <button class="btn btn-success" type="button" ng-click="addDay()">Save</button>
      <button class="btn btn-warning" type="button" ng-click="cancel()">Close</button>
    </div>
        
  </script>
  <!-- END Modal -->



<div  class="row">

  <div class="col-sm-4 days shadow">
    <div class="col-sm-12">
      <button type="button" class="btn btn-info btn-sm btn-ADD" ng-click="open()">Add Day</button>
    </div>
    <div  ng-repeat="(key, value) in days track by $index" class="row"> <!-- start of day item -->

      <div ng-init="tag='day'" id="{{key}}" class="col-sm-6 dayactivity drop">

    


      <ul class="list-group drop2">
        <li class="list-group-item col-sm-12 drop3" ng-repeat="(keyact, obj) in value.activities" id="{{key}}" draggable="true">

         

                                 <div class="col-sm-2">
                                    <div class="{{obj.type}} TypeTag">
                                    </div>
                                </div>

          <div class="col-sm-6">
            {{obj.name}}
          </div>
          
          <div class="col-sm-3">
            {{obj.length}} min
          </div>

           <div class="col-sm-1">
            <button id="" ng-click="deleteActDay(key, keyact)" class="btn btn-alert btn-group-sm glyphicon glyphicon-remove pull-right"> </button>
          </div>


            
 
          

        </li>

      </ul>

      </div>

      <div  class="col-sm-6 daysinfo">
           <p>Date: {{value.date | date: 'mediumDate'}} </p>
            <p>Start Time: {{value.starttime | date: 'HH:mm'}}  </p>
              
             <p>End Time: {{value.endtime}} </p>
              <p>Total Time: {{value.length}} min</p>
            

             <div class="foo Group"></div>
              <div class="foo Discussion"></div>
              <div class="foo Presentation"></div> 
              <div class="foo Coffee"></div> 
              <br>


              <button ng-click="deleteDay(key)" id="deleteButton" class="btn btn-default pull-left">Delete Day</button>

      </div> 
      <!-- <div id="div1" ondrop="ondrop(event)" ondragover="ondragover(event)">
      </div> -->
    </div> <!-- end of day item -->
  </div>
</div>



<!-- <div class="row">

  <div class="col-sm-4 days">
         <p> <time ></time></p>
          <p>Start Time: <input type="text"> </p>
           <p>End Time :<input type="text"> </p>
            <p>Total Time: <output></output> </p>
          <button id="deleteButton" class="button">Delete Day</button>
          
  </div>

</div>

<div class="row">

  <div class="col-sm-4 days">
         <p> <time ></time></p>
          <p>Start Time: <input type="text"> </p>
           <p>End Time :<input type="text"> </p>
            <p>Total Time: <output></output> </p>
          <button id="deleteButton" class="button">Delete Day</button>
          
  </div>

</div>
 -->












