<!-- <div class="row">

<div class="col-lg-4" id="overview">
 <h4 id="overviewTitle">DAY OVERVIEW</h4>
    <div class="col-lg-2" id="overviewDay1">
        <p> <time ></time></p>
        <p>Start Time: <input type="text"> </p>
         <p>End Time :<input type="text"> </p>
          <p>Total Time: <output></output> </p>
        <button id="deleteButton" class="button">Delete Day</button>
        
</div>

</div>

</div> -->



<!-- <ng-include src="../_calendar/calendar.html" ng-controller="overviewCtrl"></ng-include> -->

<!-- <ng-include src="../_calendar/calendar.html" ng-controller="CalendarCtrl"></ng-include> -->

<!-- <div class="col-sm-4">

  <div class="form-group">
    <label for="usr">Name:</label>
    <input type="text" class="form-control" id="usr">  
  </div>
   
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd">
    </div>


</div> -->




<!-- <button ng-click="addDay()" id="AddButton" class="btn btn-default">Add Day</button> -->
<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">Add Day</button>




<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>


        <ng-include src="'partials/calendar.html'" ng-controller="CalendarCtrl"></ng-include>
       <ng-include src="'partials/timepicker.html'" ng-controller="TimepickerCtrl"></ng-include>
       <button type="button" class="btn btn-success" ng-click="addDay()">Save</button>

          




      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>



<div class="row">


  <div class="col-sm-4 days">
         
    

    <div class="col-sm-6 activity">


      <br>
      <br>
      <br>


    </div>

    <div class="col-sm-6 daysinfo">
         <p> <time ></time></p>
          <p>Start Time: <div class="input-group bootstrap-timepicker timepicker">
            <input id="timepicker1" type="text" class="form-control input-small">
            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
        </div> </p>

       
           <p>End Time : </p>
            <p>Total Time:  </p>
          <button id="deleteButton" class="btn btn-default">Delete Day</button>

    </div>


          
  </div>

</div>



<!-- <div class="row">

  <div class="col-sm-4 days">
         <p> <time ></time></p>
          <p>Start Time: <input type="text"> </p>
           <p>End Time :<input type="text"> </p>
            <p>Total Time: <output></output> </p>
          <button id="deleteButton" class="button">Delete Day</button>
          
  </div>

</div>

<div class="row">

  <div class="col-sm-4 days">
         <p> <time ></time></p>
          <p>Start Time: <input type="text"> </p>
           <p>End Time :<input type="text"> </p>
            <p>Total Time: <output></output> </p>
          <button id="deleteButton" class="button">Delete Day</button>
          
  </div>

</div>
 -->












